body {
    background-color: rgb(26, 26, 26);
}

#home-page {
    display: grid;
    width: 99%;
    min-height: 2200px;
    margin: auto;
   
    /*background-color: yellowgreen;*/

    grid-template: 90px 1800px 400px / 1fr 1fr;
    grid-template-areas: "head head"
                        "main main"
                        "foot foot";
}

/*main sections*/
header {
    /*background-color: blue;*/ 
    width: 70%;
    margin: 0 auto;
    grid-area: head;
    
}

main {
    /*background-color: cyan;*/
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

footer {
    background-color: purple;
    grid-area: foot;
    
}


#hero,
#products{
    width: 100%;
}

#hero {
    /*background-color: rgb(65, 37, 0);*/
    display: flex;
    background-image: url("https://www.wallpaperflare.com/static/97/539/756/city-night-tokyo-lanterns-wallpaper.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height: 40%;
    width: 100%;
    align-content: center;
    position: relative;
    bottom: 5%;
}

#products {
    /*background-color: palevioletred;*/
    height: 45%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 5%;
}




/*header of the page*/
#company-logo {
    font-family: "Poiret One";
    color: whitesmoke;
    letter-spacing: 10px;
    float:left;
    font-size: 3rem;
    position: relative;
    bottom: 20px;

}

#site-nav {
    float: right;
    display: flex;
    flex-direction:row;
    /*background-color: teal;*/
    height: 100%;
    min-width: 40%;
    align-items: center;
    justify-content: space-around;
    margin-right: 2%;
}

h2.nav-button {
    color: rgb(170, 170, 170);
    text-decoration: underline;
    font-weight: bold;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 10px;
}

#login-button {
    font-family: 'IBM Plex Mono', monospace;
    color:ghostwhite;
    background-color: rgb(0, 174, 255);
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    
    transition: background-color 200ms ease-out 100ms,
    text-decoration 200ms ease-out 100ms, 
    transform 1s, 
    padding 200ms ease-out 50ms;
    
}

#login-button:hover{
    background-color: rgb(74, 198, 255);
    text-decoration: underline;
    transform: scale(2);
    padding: 16px;
}

/*start of the page hero*/
#header-title-container {
    display:flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 20%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background: rgba(0,0,0,0.6);
    color: #fff;
    backdrop-filter: blur(4px);
}

.header-saying {
    font-family: 'Manrope', sans-serif;
    color:ivory;
    margin: 0 auto;
    
}

#header-title {
    font-size: 5rem;
    
}

#header-subtitle
{
    font-size: 3rem;
} 

/*start of the product section*/

.product {
    display:inline-flex;
    width: 30%;
    height: 80%;
    background-color:rgb(53, 53, 53);
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
}

.product-image {
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: top;
}

.product-title,
.product-desc {
    margin: auto;
    color:rgb(200, 200, 200);
}

.product-title {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 1000;
    font-size: 1.6rem;
    
}

.product-desc {
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    margin: 20px;
}

/* start of contact forms*/
#join-us-title {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3rem;
    margin: 0 auto;
    color: whitesmoke;
}

#contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}